---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.language-plaintext.highlighter-rouge {
    background-color: #141010; /* Change this to any color you prefer */
}

.highlight {
    color: #f21368
}
